html, body {
    margin: 0;
    padding: 0;
}

#container {
    padding: 10px;
    max-width: 390px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #1B1924;
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
    align-items: center;
    gap: 10px;
}

img {
    width: 90px;
}

h1 {
    font-size: 25px;
    font-weight: bold;
}

textarea {
    height: 97px;
    width: 297px;
    background-color: #444059;
    border: none;
    border-radius: 8px;
    color: #8F8F8F;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: normal;
    padding: 10px;
}

button {
    height: 61px;
    width: 317px;
    background-color: #28A9F1;
    border: none;
    border-radius: 8px;
    color: #04131C;
    font-size: 22px;
    font-weight: bold;
}

h2 {
    font-size: 20px;
    font-weight: bold;
}

p {
    background-color: whitesmoke;
    color: #1B1924;
    font-family: 'Inter', sans-serif;
}

#endorsement-list {
    width: 317px;
}